<template>
  <div>
    <h1>{{ msg }}</h1>
    <h3>Oled jõudnud kodutööna valminud piiratud võimalustega tehislinnumääraja juurde.</h3>
       <Chatbot/>
  </div>
</template>

<script>
import axios from 'axios';
import Chatbot from './chatbot.vue';

export default {
  name: 'Ping',
  components: { Chatbot },
  data() {
    return {
      msg: '',
      API_URL: 'http://127.0.0.1:5000',
      // API_URL: '',
    };
  },
  methods: {
    getMessage() {
      axios.get(`${this.API_URL}/ping`).then((res) => { this.msg = res.data; }).catch((error) => {
      // eslint-disable-next-line
        console.error(error);});
    },
  },
  created() {
    this.getMessage();
  },
};
</script>

<style scoped>
  h1 {
    margin-top: 2rem;
    text-align: left;
    margin-left: 27rem;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
  }
  h3 {
    text-align: left;
    margin-left: 27rem;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
  }
</style>
